<section>
  <h2>Latest blocks</h2>
  <table style="width:100%">
    <thead>
      <tr>
        <th>Height</th>
        <th>Time</th> 
        <th>Transactions</th>
        <th>Nonce</th>
      </tr>
    </thead>
    <tbody id="blocks">
    </tbody>
  </table>
</section>